
<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light">


	<div class="col w-md b-r ">

		<div class="vbox">
			<div class="wrapper-md b-b">
				<div class="font-thin h4">人</div>
			</div>
			<div class="row-row">
				<div class="cell scrollable">
					<div class="cell-inner">
						<div class="wrapper-md">
							<ul class="list-group no-bg no-borders pull-in">
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a4.jpg" alt="..." class="img-circle"> <i
										class="on b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">容儿</a>
										</div>
										<small class="text-muted">总部 风控专员</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a5.jpg" alt="..." class="img-circle"> <i
										class="on b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">杨过</a>
										</div>
										<small class="text-muted">总部 容儿助理</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a6.jpg" alt="..." class="img-circle"> <i
										class="busy b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">小新</a>
										</div>
										<small class="text-muted">台州门店 店长</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a7.jpg" alt="..." class="img-circle"> <i
										class="away b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">林朝英</a>
										</div>
										<small class="text-muted">渠道商 普通员</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a8.jpg" alt="..." class="img-circle"> <i
										class="away b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">娜娜</a>
										</div>
										<small class="text-muted">台州门店 业务员</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a4.jpg" alt="..." class="img-circle"> <i
										class="on b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">容儿</a>
										</div>
										<small class="text-muted">总部 风控专员</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a5.jpg" alt="..." class="img-circle"> <i
										class="on b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">杨过</a>
										</div>
										<small class="text-muted">总部 容儿助理</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a6.jpg" alt="..." class="img-circle"> <i
										class="busy b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">小新</a>
										</div>
										<small class="text-muted">台州门店 店长</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a7.jpg" alt="..." class="img-circle"> <i
										class="away b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">林朝英</a>
										</div>
										<small class="text-muted">渠道商 普通员</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a8.jpg" alt="..." class="img-circle"> <i
										class="away b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">娜娜</a>
										</div>
										<small class="text-muted">台州门店 业务员</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a4.jpg" alt="..." class="img-circle"> <i
										class="on b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">容儿</a>
										</div>
										<small class="text-muted">总部 风控专员</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a5.jpg" alt="..." class="img-circle"> <i
										class="on b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">杨过</a>
										</div>
										<small class="text-muted">总部 容儿助理</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a6.jpg" alt="..." class="img-circle"> <i
										class="busy b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">小新</a>
										</div>
										<small class="text-muted">台州门店 店长</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a7.jpg" alt="..." class="img-circle"> <i
										class="away b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">林朝英</a>
										</div>
										<small class="text-muted">渠道商 普通员</small>
									</div></li>
								<li class="list-group-item"><a
									ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})"
									class="pull-left thumb-sm avatar m-r"> <img
										src="img/a8.jpg" alt="..." class="img-circle"> <i
										class="away b-white bottom"></i>
								</a>
									<div class="clear">
										<div>
											<a
												ui-sref="users.user.page({user_id:1,entity_type:'users',view_type:'dashboard'})">娜娜</a>
										</div>
										<small class="text-muted">台州门店 业务员</small>
									</div></li>
							</ul>

						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="col lter" ui-view></div>
</div>
<!-- /hbox layout -->