<div class="hbox hbox-auto-xs bg-light h-full">
    <!-- column -->
    <div class="col lter" style="width:500px;">
        <div class="vbox">
            <div class="wrapper b-b">
                <div class="font-thin h4">私人交流</div>
            </div>


            <div class="wrapper lter b-b  bg-light b-light">
                  <div class="btn-group pos-stc">
                   
                    <div class="btn-group dropdown">
                        <button class="btn btn-sm btn-default w-xxs w-auto-xs dropdown-toggle" tooltip="Move to" tooltip-placement="bottom"><i class="fa fa-fw fa-tag"></i> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <!-- ngRepeat: label in labels --><li ng-repeat="label in labels" class="ng-scope">
                                <a href="" class="ng-binding">
                                    <i class="fa fa-fw fa-circle text-muted text-xs" color="#23b7e5" label-color="" style="color: rgb(35, 183, 229);"></i>
                                    Angular
                                </a>
                            </li><!-- end ngRepeat: label in labels --><li ng-repeat="label in labels" class="ng-scope">
                                <a href="" class="ng-binding">
                                    <i class="fa fa-fw fa-circle text-muted text-xs" color="#7266ba" label-color="" style="color: rgb(114, 102, 186);"></i>
                                    Bootstrap
                                </a>
                            </li><!-- end ngRepeat: label in labels --><li ng-repeat="label in labels" class="ng-scope">
                                <a href="" class="ng-binding">
                                    <i class="fa fa-fw fa-circle text-muted text-xs" color="#fad733" label-color="" style="color: rgb(250, 215, 51);"></i>
                                    Client
                                </a>
                            </li><!-- end ngRepeat: label in labels --><li ng-repeat="label in labels" class="ng-scope">
                                <a href="" class="ng-binding">
                                    <i class="fa fa-fw fa-circle text-muted text-xs" color="#27c24c" label-color="" style="color: rgb(39, 194, 76);"></i>
                                    Work
                                </a>
                            </li><!-- end ngRepeat: label in labels -->
                        </ul>
                    </div>
                </div>
            </div>





            <div class="row-row">
                <div class="cell scrollable">
                    <div class="cell-inner">
                        <div class="wrapper-md">
                            <div>
                                <div class="row-row">
                                    <div class="col col-sm-10">
                                        <a href class="pull-left thumb-sm avatar"><img src="img/a2.jpg" alt="..."></a>
                                        <div class="m-l-xxl">
                                            <div class="pos-rlt wrapper b b-light bg-info r r-2x">
                                                <span class="arrow left pull-up arrow-info"></span>
                                                <p class="m-b-none">中新网5月26日电 据国家旅游局网站消息，近日，全国旅游资源规划开发质量评定委员会决定，对厕所革命严重滞后的河南省南阳市西峡伏牛山老界岭·恐龙遗址园旅游区、青海省青海湖景区等2家5A级旅游景区给予严重警告处理。同时，集中公布了各省级旅游部门对天津七里海湿地旅游区等10家4A级景区予以摘牌的处理决定。</p>
                                            </div>
                                            <small class="text-muted"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="m-b">
                                    <a href class="pull-right thumb-sm avatar"><img src="img/a3.jpg" class="img-circle" alt="..."></a>
                                    <div class="m-r-xxl col-sm-offset-2">
                                        <div class="pos-rlt wrapper bg-primary r r-2x">
                                            <span class="arrow right pull-up arrow-primary"></span>
                                            <p class="m-b-none">Lorem ipsum dolor sit amet, conse <br>adipiscing eli...<br>:)</p>
                                        </div>
                                        <small class="text-muted">1 minutes ago</small>
                                    </div>
                                </div>    
                                <div class="row-row">
                                    <div class="col">
                                        <a href class="pull-left thumb-sm avatar"><img src="img/a2.jpg" alt="..."></a>
                                        <div class="m-l-xxl">
                                            <div class="pos-rlt wrapper b b-light bg-primary r r-2x">
                                                <span class="arrow left pull-up arrow-primary"></span>
                                                <p class="m-b-none">Hi John, What's up...</p>
                                            </div>
                                            <small class="text-muted"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row-row">
                                    <div class="col">
                                        <a href class="pull-left thumb-sm avatar"><img src="img/a2.jpg" alt="..."></a>
                                        <div class="m-l-xxl">
                                            <div class="pos-rlt wrapper b b-light bg-white r r-2x">
                                                <span class="arrow left pull-up arrow-white"></span>
                                                <p class="m-b-none">Hi John, What's up...</p>
                                            </div>
                                            <small class="text-muted"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
                                        </div>
                                    </div>
                                </div>
                                <br />

                                <div class="row-row">
                                    <div class="col">
                                        <a href class="pull-left thumb-sm avatar"><img src="img/a2.jpg" alt="..."></a>
                                        <div class="m-l-xxl">
                                            <div class="pos-rlt wrapper b b-light bg-danger r r-2x">
                                                <span class="arrow left pull-up arrow-danger"></span>
                                                <p class="m-b-none">Hi John, What's up...</p>
                                            </div>
                                            <small class="text-muted"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row-row">
                                    <div class="col">
                                        <a href class="pull-left thumb-sm avatar"><img src="img/a2.jpg" alt="..."></a>
                                        <div class="m-l-xxl">
                                            <div class="pos-rlt wrapper b b-light bg-dark r r-2x">
                                                <span class="arrow left pull-up arrow-dark"></span>
                                                <p class="m-b-none">Hi John, What's up...</p>
                                            </div>
                                            <small class="text-muted"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row-row">
                                    <div class="col">
                                        <a href class="pull-left thumb-sm avatar"><img src="img/a2.jpg" alt="..."></a>
                                        <div class="m-l-xxl">
                                            <div class="pos-rlt wrapper b b-light bg-warning r r-2x">
                                                <span class="arrow left pull-up arrow-warning"></span>
                                                <p class="m-b-none">Hi John, What's up...</p>
                                            </div>
                                            <small class="text-muted"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row-row">
                                    <div class="col">
                                        <a href class="pull-left thumb-sm avatar"><img src="img/a2.jpg" alt="..."></a>
                                        <div class="m-l-xxl">
                                            <div class="pos-rlt wrapper b b-light bg-white r r-2x">
                                                <span class="arrow left pull-up arrow-white"></span>
                                                <p class="m-b-none">
                                                    <img src="http://upload.cankaoxiaoxi.com/temp/2017/0526/1495781954608.jpg" width="300" />
                                                </p>
                                            </div>
                                            <small class="text-muted"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
                                        </div>
                                    </div>
                                </div>
                                <br />

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="padder b-t b-light bg-white">
                <div>
                    <form>
                        <div></div>
                        <div  class="text-left" style="margin: 10px 0;">
                            <button class="btn btn-sm btn-default" ui-toggle-class="btn-success">
                                <i class="fa fa-cloud-upload text"></i>
                                <span class="text">Upload</span>
                                <i class="fa fa-check text-active"></i>
                                <span class="text-active">Success</span>
                            </button>
                            <a class="btn btn-sm btn-default" ui-toggle-class="button">
                                <i class="fa fa-heart-o text"></i>
                                <i class="fa fa-heart text-active text-danger"></i>
                            </a>
                            <a class="btn btn-sm btn-default" ui-toggle-class="button">
                                <span class="text">
                                    <i class="fa fa-thumbs-up text-success"></i> 25
                                </span>
                                <span class="text-active">
                                    <i class="fa fa-thumbs-down text-danger"></i> 10
                                </span>
                            </a>
                            <button class="btn btn-sm btn-success" ui-toggle-class="show inline" target="#spin">
                                <span class="text">Save</span>
                                <span class="text-active">Saving...</span>
                            </button> 
                            <i class="fa fa-spin fa-spinner hide" id="spin"></i>
                        </div>

                        <div>
                            <span class="input-group-btn" style="position: absolute;right:70px; bottom:10px;">
                                <button class="btn btn-default" type="button">SEND</button>
                            </span>
                            <input type="text" class="form-control no-borders" placeholder="Say something" rows="5" style="height:100px; vertical-align: top; padding:0;margin:0">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col b-l" ui-view></div>
</div>